@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #FF0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ff0000;
  }
} */

/* Default: light mode */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* .headerIdlight {
  --background: #fa1919;
  --foreground: #000000;
}

.headerIddark {
  --background: #ffffff;
  --foreground: #000000;
} */

/* Dark mode */
.dark {
  --background: #000000;
  --foreground: #ffffff;
}

.light {
  --background: lab(49.68% 68.04 46.99);
  --foreground: #000000;
}

.headfootdark{
  --background: #7c1a1a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
